*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/* header section design */
header{
    background-color: #79B4B7;
}
.text-clr{
    color: black;
    font-family: cursive;
}
.cardIcon{
    color: blueviolet;
    font-size: 35px;
    margin-top: 5px;

}
/* search section design */
.search-container{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}
.search{
    width: 100%;
    border: 1px solid;
    height: 40px;
    margin: 0 auto;
    float: left;
    border: 2px solid blueviolet;

}
.search input{
    width: 80%;
}
.search button{
    width: 20%;
    background-color: blueviolet;
    height: 36px;
    padding: 5px;
    float: right;
    color: whitesmoke;
    font-weight: 800;
    font-family: cursive;
}
/* error alert section */
#error-alert{
    display: none;
}
/* spinner section */
#spinner{
    display: none;
    padding-top: 20px;
}
/* single card design  */
.cards{
    height: 480px;
}

/* image section */
.img-container{
    height: 230px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0px;
}
.img-container img{
    height: 100%;
}
.card-title{
font-size: 18px;
font-weight: 900;
}
.price-tag{
    color: red;
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    margin: 1px;
}
.catagorie{
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
}
.Ratings{
    text-align: center;
    font-weight: 700;
}
.btn-get{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-left: 5px;
    margin-right: 5px;
}
/* media queire */
@media only screen and (max-width: 600px) {
    .search-container{
        width: 80%;
    }
  }